---
---

<nav class="site-nav" aria-label="Main navigation" data-pagefind-ignore>
  <div class="nav-inner">
    <a href="#home" data-nav="home" class="nav-logo">sb</a>
    <ul class="nav-links">
      <li><a href="#home" data-nav="home">Home</a></li>
      <li><a href="#projects" data-nav="projects">Projects</a></li>
      <li><a href="#views" data-nav="views">Views</a></li>
      <li><a href="#games" data-nav="games">Games</a></li>
      <li><a href="#resume" data-nav="resume">Resume</a></li>
    </ul>
  </div>
</nav>
